
* {
	box-sizing: border-box;
}

h1{
	margin-bottom: 15px;
	text-align: center;
	font-family: Times ;

}

section{
	padding: 10px;
	padding-top: 38px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	border: 2px solid black;
	width: 100% ;
	height: 200px;
	overflow: auto;
	background-color: #c5c0ae ;
	font-family: Arial , Helvetica, sans-serif ;
	position: relative;
  
}
.row {
   width: 100%;
}

p{
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 0;	
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	width: 150px ;
	height: 25px;
	font-family: Arial , Helvetica,sans-serif ;
	text-align: center;

}
#p1{
	background-color: #5f989a ;
	color: purple;
}
#p2{
	background-color: #8a9525 ;
	color: white;
}
#p3{
	background-color: #d6ae49 ;
	color: black;
}

.col-lg-4,.col-md-6{
	float:left;
	padding: 5px;
	position: relative;
}
@media (min-width: 992px ){

	.col-lg-4{		
		width: 33.33%;
	}
}
@media (min-width: 768px) and (max-width: 991px){

	.col-md-6{
		width: 50%;
	}
}